*.o
*.a
*.d
*.so
*.exe
*.test
*.pem
*.pipe
.vscode

src/tmp/*
src/build/*
src/bin/*

src/Libraries/googletest/*
src/Libraries/liboqs/*
src/Libraries/liboqs-cpp/*
src/Libraries/lithium/*
src/Libraries/spdlog/*
